body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Permanent Marker', cursive;       
}
* {box-sizing: border-box}

.container1 {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.photograph {width: 90%; background-color: #4CAF50;}
.video {width: 80%; background-color: #2196F3;}
.edit {width: 65%; background-color: #f44336;}