<html>

<head>

</head>

<body style="background-color: rgb(231, 225, 225);">
    <div>
        {% extends 'bootstrap/base.html'%}
        {% import 'bootstrap/wtf.html' as wtf %}

        <!-- Navbar block  -->
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}

        <!-- Content block -->

        <meta charset="utf-8">
        <title> </title>
        {% block styles%}
{{ super() }}
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Permanent+Marker&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href='https://fonts.googleapis.com/css?family=Carter+One&display=swap' rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}" />

{% endblock %}

        {% block content %}

        {% endblock%}
    </div>

</body>

</html>