{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{%block styles%}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
            integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


        {%endblock%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1
                style="font-style:  italic; text-align: center; font-weight: bold; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                BLVCK ORIGIN</h1>
            <img src="{{url_for('static',filename='photos/logo/IMG-20201230-WA0044.jpg')}}" class="d-block w-100"
                alt="..." height="300px">
            <small><i>The best Urban Wear and photography accross Nairobi and East Africa at large</i></small>
        </div>
        <div class="col-md-8">
            <h2
                style="color: rgb(19, 15, 15);text-align: center; padding-top: 30px;font-weight: 900; padding-bottom: 30px; font-style: italic;">
                CONTACT INFORMATION</h2>
            <hr>
            <p style="color: rgb(14, 15, 15);"> You can find us through the following links and contact information:</p>
            <ol>
                <li>Our shop and studio are located in mama ngina street, mutwathi lane. </br> Afya house, third floor
                    room 26.</li>
                <br>
                <li><b>Tel No:</b> <i>0719640643 or 0712345678</i></li>
                <br>
                <li>You can follow us on :</li>
            </ol>

                <div class="text-center text-black" style="text-align: center; padding-top: 10px;">

                    <img src="{{url_for('static',filename='photos/social/pinterest.png')}}">
                    <small style="font-size: small;">blvck_origin</small>

                    <img src="{{url_for('static',filename='photos/social/twitter.png')}}">
                    <small style="font-size: small;"> @Blvckorigin</small>

                    <img src="{{url_for('static',filename='photos/social/instagram.png')}}" style="height: 40px; width: 40px;">
                    <small style="font-size: small;">_blvck_origin</small>
                </div>
        </div>
    </div>
</div>

{% endblock%}