{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1
                style="font-style:  italic; text-align: center; font-weight: bold; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                Black Origin</h1>
            <img src="{{url_for('static',filename='photos/logo/IMG-20201230-WA0044.jpg')}}" class="d-block w-100"
                alt="..." height="300px">
            <small><i>The best Urban Wear and photography accross Nairobi and East Africa at large</i></small>
        </div>
        <div class="col-md-8">
            <h2
                style="color: rgb(19, 15, 15);text-align: center; padding-top: 30px;font-weight: 900; padding-bottom: 30px; font-style: italic;">
                BLACK ORIGIN URBAN WEAR CONTACT INFORMATION</h2>
            <hr>
            <p style="color: rgb(14, 15, 15);"> You can find us through the following links and contact information:</p>
            <ol>
                <li>Our shop and studio are located in mama ngina street, mutwathi lane. </br> Afya house, third floor
                    room 26.</li>
                <br>
                <li><b>Tel No:</b> <i>0719640643 or 0712345678</i></li>
                <br>
                <li>You can follow us on :</li>
                <div class="text-center text-black" style="text-align: center; padding-top: 10px;">

                    <img src="{{url_for('static',filename='photos/social/pinterest.png')}}">
                    <small style="font-size: small;">@BlackUrbanWear</small>

                    <img src="{{url_for('static',filename='photos/social/facebook.png')}}">
                    <small style="font-size: small;">BlackUrbanWear</small>
                    <br>

                    <img src="{{url_for('static',filename='photos/social/twitter.png')}}">
                    <small style="font-size: small;">@Black/Origin/Wear254</small>

                    <img src="{{url_for('static',filename='photos/social/you_tube.png')}}">
                    <small style="font-size: small;">@BlackUrbanWear254</small>

                    <br>
                    <img src="{{url_for('static',filename='photos/social/g_plus.png')}}">
                    <small style="font-size: small;">blackUrban86@gmail.com</small>

                    <img src="{{url_for('static',filename='photos/social/skype.png')}}">
                    <small style="font-size: small;">blackUrban86@skype.com</small>

                </div>


            </ol>
        </div>
    </div>
</div>

{% endblock%}